/* Fraction */
.fraction {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  vertical-align: middle;
  margin: 0 2px;
}

.numerator:focus,
.denominator:focus {
  outline: none;
  background-color: #3F3F46;
  border: 1px dashed #52525B;
}

.numerator, .denominator {
  min-width: 20px;
  min-height: 20px;
  box-sizing: content-box;
  padding: 5px;
  text-align: center;
  line-height: 20px;
  background-color: #18181B;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #6b6b74;
  color: #fff;
}

.line {
  width: 100%;
  height: 1px;
  pointer-events: none;
  background-color: #fff;
  margin: 4px 0;
}