@import url('variables.css');

.selected {
  background-color: rgba(255, 174, 0, 0.3);
}
/* Fraction */
.fraction {
  font-family: var(--input-font);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(13px, 2vw, 18px);
  vertical-align: middle;
  margin: 0 1px;
}

.numerator, .denominator {
  font-family: var(--input-font);
  min-width: 10px;
  min-height: 10px;
  line-height: 10px;
  box-sizing: content-box;
  padding: 6px;
  text-align: center;
  background-color: #18181B;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #6b6b74;
  color: #fff;
}

.line {
  width: 100%;
  height: 1px;
  pointer-events: none;
  background-color: #fff;
  margin: 4px 0;
}

.numerator:focus,
.denominator:focus {
  outline: none;
  background-color: #3F3F46;
  border: 1px dashed #52525B;
}

.numerator:not(:empty),
.denominator:not(:empty) {
  border: none;
  padding: 0;
  background-color: transparent;
}
/* Power */
.power {
  display: inline-flex;
  vertical-align: middle;
  margin: 0 1px;
  align-items: flex-start;
}

.base {
  font-family: var(--input-font);
  min-width: 16px;
  line-height: 16px;
  box-sizing: content-box;
  text-align: center;
  background-color: #18181B;
  display: inline-flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #6b6b74;
  color: #fff;
}

.exponent {
  font-family: var(--input-font);
  min-width: 10px;
  line-height: 10px;
  font-size: 10px;
  box-sizing: content-box;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #18181B;
  border-radius: 2px;
  border: 1px dashed #6b6b74;
  color: #fff;
}

/* .exponent:empty {
  width: 11px;
  height: 11px;
  line-height: 14px;
} */

.base:empty + .exponent:not(:empty) {
  margin: 2px;
  margin-bottom: 11px;
}

.base:focus,
.exponent:focus {
  outline: none;
  background-color: #3F3F46;
  border: 1px dashed #52525B;
}

.base:not(:empty),
.exponent:not(:empty) {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 9px;
  background-color: transparent;
}

.exponent:not(:empty) {
  margin-left: -1px;
}
/* Square root, Cube root */
.sqrt, .cbrt {
display: inline-flex;
align-items: flex-end;
vertical-align: middle;
position: relative; 
}
.sqrt-symbol img,
.cbrt-symbol img {
  width: 12px;
  height: 20px;
  fill: white;
}

.sqrt-symbol, .cbrt-symbol {
  box-sizing: content-box;
  margin-right: 0;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: flex-start; 
}
.sqrt-content, .cbrt-content {
  font-family: var(--input-font);
  min-width: 16px;
  min-height: 16px;
  line-height: 16px;
  box-sizing: content-box;
  font-size: clamp(13px, 2vw, 18px);
  margin-right: 2px;
  margin-left: -0.2px;
  text-align: center;
  background-color: #18181B;
  display: inline-flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #6b6b74;
  color: #fff;
  position: relative;
}
.sqrt-content::before,
.cbrt-content::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -1px;
  right: -2px;
  height: 0.8px;
  background-color: #fff;
}
.sqrt-content:focus,
.cbrt-content:focus {
  outline: none;
  background-color: #3F3F46;
  border: 1px dashed #52525B;
}
.sqrt-content:not(:empty),
.cbrt-content:not(:empty) {
  border: none;
  background-color: transparent;
}
.sqrt-content:not(:empty)::before,
.cbrt-content:not(:empty)::before {
  left: var(--before-left, -1px);
  right: 0;
  top: -4px;
  height: 0.8px;
}
.sqrt-content.has-numbers::before,
.cbrt-content.has-numbers::before {
  left: -1px;
  right: 0px;
  top: -4px;
  background-color: #fff;
}

.sqrt-content.has-numbers,
.cbrt-content.has-numbers {
  margin-left: 0px;
}

.sqrt-content.has-root,
.cbrt-content.has-root {
  margin-left: 0px;
}

.sqrt-content.has-exponent.empty::before {
  top: -2px;
}

.sqrt-content.has-exponent:empty {
  background-color: red;
}

.sqrt-content:not(:empty) ~ .sqrt-symbol,
.cbrt-content:not(:empty) ~ .cbrt-symbol {
  align-items: flex-start; 
}
.cbrt-index {
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: -2px;
  left: 3px;
  user-select: none;
  pointer-events: none;
}

/* Trigonometric functions */
.trig-func {
  display: inline-flex;
  align-items: center;
  font-size: clamp(13px, 2vw, 18px);
  margin: 0 2px;
  font-family: var(--input-font);
}

.trig-name {
  font-family: var(--input-font);
  user-select: none;
}

.trig-content {
  font-family: var(--input-font);
  min-width: 16px;
  min-height: 16px;
  line-height: 16px;
  box-sizing: content-box;
  font-size: clamp(13px, 2vw, 18px);
  text-align: center;
  background-color: #18181B;
  display: inline-flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #6b6b74;
  color: #fff;
  position: relative;
}

.trig-content:not(:empty) {
  border: none;
  background-color: transparent;
}

.trig-content:not(:empty):focus {
  background-color: transparent;
  border: none;
}

.trig-content:focus {
  outline: none;
  background-color: #3F3F46;
  border: 1px dashed #52525B;
}

.trig-paren {
  font-family: var(--input-font);
  user-select: none;
}
